{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
{% endblock body %}
{% block content %}
<div class="text">
    <h1><span>B</span>est <span>P</span>lace <span>t</span>o <span>s</span>hop,<br> <span>v</span>mroo !!!</h1>
    <img src="{% static 'images/vimdhayak.png' %}" class="vimdhayak" height="616" alt="">
  </div>
<div class="product-container">
    <h1>Mobiles</h1>
    <div class="cards">
        {% for m in mobiles %}
        <div class="card">
            <img src="{{m.product_image.url}}" alt="">
            <h3>{{m.title}}</h3>
            <p><b>{{m.selling_price}}</b></p>
            <a href="{% url 'product-detail' m.id %}"><p class="btn-btn">Details</p></a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="product-container">
    <h1>Bottom wear</h1>
    <div class="cards">
        {% for bw in bottomwear %}
        <div class="card">
            <img src="{{bw.product_image.url}}" alt="">
            <h3>{{bw.title}}</h3>
            <p><b>{{bw.selling_price}}</b></p>
            <a href="{% url 'product-detail' bw.id %}"><p class="btn-btn">Details</p></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}